<div class="quizz-container">
    <div class="quizz-logo">
        <img src="assets/images/logo.png" alt="">
        <h1>{{ title }}</h1>
    </div>
    <div *ngIf=!fineshed class="quizz-questions">
        <h3>{{ questionSelected.question }}</h3>
    </div>
    <div *ngIf=!fineshed class="quizz-options">
        <button  *ngFor="let option of questionSelected.options; let i = index" class="btn-option" (click)="playerChoise(option.alias)">{{ option.name }}</button>
    </div>
    <div *ngIf=fineshed class="quizz-results">
        <h2>Seu resultado é:</h2>
        <p>{{ answerSelected }}</p>
    </div>
</div>